@import "tailwindcss";

@theme {
  --color-pitch-black: #0A0A0A;
  --color-charcoal: #1C1C1C;
  --color-lead: #2D2D2D;
  --color-acid-green: #39FF14;
  --color-neon-yellow: #CCFF00;
  
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-display: 'Outfit', 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-pitch-black text-gray-200 font-sans antialiased overflow-x-hidden selection:bg-acid-green selection:text-black;
  }
}

@layer utilities {
  .text-shadow-neon {
    text-shadow: 0 0 10px rgba(57, 255, 20, 0.5), 0 0 20px rgba(57, 255, 20, 0.3);
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #receipt-print-area, #receipt-print-area * {
    visibility: visible;
  }
  #receipt-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px; /* Estreito como impressora térmica */
    margin: 0;
    padding: 20px;
    border: none !important;
    box-shadow: none !important;
    background: white !important;
    color: black !important;
  }
  #receipt-print-area * {
    color: black !important;
  }
  .print-hide {
    display: none !important;
  }
}
